---
logstash_filebeat_ca: /etc/logstash/certs/filebeat_ca.crt
logstash_filebeat_host: '{{ ip_address }}:5044'
logstash_add_certs:
  - ca_path: '{{ logstash_filebeat_ca }}'
    ca_content: '{{ lookup("ansible.builtin.file", filebeat_ca_cert_path) }}'

logstash_keystore_path: /etc/logstash/certs/keystore.p12
logstash_keystore_password: '{{ lookup("ansible.builtin.password",
  "secrets/logstash_keystore_password.txt", length=26) }}'

logstash_truststore_path: /etc/logstash/certs/truststore.jks
logstash_truststore_certificates:
  kafka: '{{ lookup("ansible.builtin.file", kafka_ca_cert_path) }}'
logstash_truststore_password: '{{ lookup("ansible.builtin.password",
  "secrets/logstash_truststore_password.txt", length=26) }}'

logstash_jvm_options: |
  -Xms512m
  -Xmx512m
  11-13:-XX:+UseConcMarkSweepGC
  11-13:-XX:CMSInitiatingOccupancyFraction=75
  11-13:-XX:+UseCMSInitiatingOccupancyOnly
  -Djava.awt.headless=true
  -Dfile.encoding=UTF-8
  -Djruby.compile.invokedynamic=true
  -XX:+HeapDumpOnOutOfMemoryError
  -Djava.security.egd=file:/dev/urandom
  -Dlog4j2.isThreadContextMapInheritable=true
logstash_config_override:
  api.enabled: false
logstash_confd:
  beats: |
    input {
      kafka {
        bootstrap_servers => "{{ groups["elasticsearch"] |
          map("ansible.builtin.extract", hostvars, "kafka_broker_socket") |
          join(",") }}"
        topics => [
          "system",
          "kafka",
          "elasticsearch",
          "kibana",
          "logstash",
          "haproxy",
          "nginx",
          "postgresql",
          "redis"
        ]
        auto_offset_reset => "earliest"
        codec => "json"
        client_id => "{{ inventory_hostname }}"
        group_id => "logstash"
        security_protocol => "SSL"
        ssl_keystore_location => "{{ logstash_keystore_path }}"
        ssl_keystore_password => "{{ logstash_keystore_password }}"
        ssl_keystore_type => "PKCS12"
        ssl_truststore_location => "{{ logstash_truststore_path }}"
        ssl_truststore_password => "{{ logstash_truststore_password }}"
        ssl_truststore_type => "jks"
      }
    }
    filter {
      if ![event][module] {
        mutate {
          add_field => { "[event][module]" => "unknown" }
        }
      }
    }
    output {
      elasticsearch {
        hosts => [
    {% for host in groups["elasticsearch"] %}
          "{{ hostvars[host].elasticsearch_url }}"{{
          '' if loop.last else ',' }}
    {% endfor %}
        ]
        index => "%{[@metadata][beat]}-%{[event][module]}-%{[@metadata][version]}-%{+YYYY.MM.dd}"
        user => "elastic"
        password => "{{ elasticsearch_elastic_password }}"
        ssl_certificate_authorities => "{{
          logstash_elasticsearch_cert.ca_path }}"
      }
    }
...
