---
- name: Update logstash config
  ansible.builtin.template:
    src: filebeat.yml.j2
    dest: /etc/filebeat/filebeat.yml
    owner: root
    group: root
    mode: '0600'
  notify: Restart filebeat service

- name: Enable and start filebeat service
  ansible.builtin.systemd_service:
    name: filebeat.service
    enabled: true
    state: started
  ignore_errors: '{{ ansible_check_mode }}'
...
