---
- name: Install logstash
  ansible.builtin.import_tasks: install.yml
  tags: [logstash, logstash_install]

- name: Import certs tasks
  ansible.builtin.import_tasks: certs.yml
  tags: [logstash, logstash_certs]

- name: Configure logstash
  ansible.builtin.import_tasks: config.yml
  tags: [logstash, logstash_config]

- name: Force all notified handlers to run
  ansible.builtin.meta: flush_handlers
  tags: [logstash, logstash_config]
...
