---
kafka_version: '4.1.1'
kafka_scala_version: '2.13'
kafka_download_url: https://dlcdn.apache.org/kafka/{{
  kafka_version }}/kafka_{{ kafka_scala_version }}-{{ kafka_version }}.tgz
kafka_path: /opt/kafka/{{ kafka_version }}

kafka_cluster_uuid: '{{ undef(hint="run kafka-storage.sh random-uuid") }}'
kafka_standalone_init: false

kafka_user: kafka
kafka_group: kafka

kafka_config_dir: /etc/kafka
kafka_home_dir: /var/lib/kafka
kafka_log_dir: /var/log/kafka

kafka_server_properties: |
    process.roles=broker,controller
    node.id=1
    controller.quorum.bootstrap.servers=localhost:9093
    listeners=PLAINTEXT://:9092,CONTROLLER://:9093
    inter.broker.listener.name=PLAINTEXT
    advertised.listeners=PLAINTEXT://localhost:9092,CONTROLLER://localhost:9093
    controller.listener.names=CONTROLLER
    listener.security.protocol.map=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,SSL:SSL,SASL_PLAINTEXT:SASL_PLAINTEXT,SASL_SSL:SASL_SSL
    security.protocol=SSL
    ssl.keystore.type=PKCS12
    ssl.keystore.location={{ kafka_config_dir }}/keystore.p12
    ssl.keystore.password={{ kafka_keystore_password }}
    ssl.truststore.type=PEM
    ssl.truststore.location={{ kafka_config_dir }}/truststore.pem
    num.network.threads=3
    num.io.threads=8
    socket.send.buffer.bytes=102400
    socket.receive.buffer.bytes=102400
    socket.request.max.bytes=104857600
    log.dirs=/tmp/kraft-combined-logs
    num.partitions=1
    num.recovery.threads.per.data.dir=1
    offsets.topic.replication.factor=1
    share.coordinator.state.topic.replication.factor=1
    share.coordinator.state.topic.min.isr=1
    transaction.state.log.replication.factor=1
    transaction.state.log.min.isr=1
    log.retention.hours=168
    log.segment.bytes=1073741824
    log.retention.check.interval.ms=300000
kafka_server_properties_file: server.properties

kafka_config_files: {}
kafka_config_files_properties: {}

kafka_keystore_name: broker
kafka_keystore_certificate: '{{ lookup("ansible.builtin.file",
  kafka_cert_path) }}'
kafka_keystore_private_key: '{{ lookup("ansible.builtin.file",
  kafka_key_path) }}'
kafka_keystore_type: pkcs12
kafka_keystore_password: changeit

kafka_truststore_certificates:
  - '{{ lookup("ansible.builtin.file", kafka_ca_cert_path) }}'
...
