---
kafka_version: '4.1.1'
kafka_scala_version: '2.13'
kafka_download_url: https://dlcdn.apache.org/kafka/{{
  kafka_version }}/kafka_{{ kafka_scala_version }}-{{ kafka_version }}.tgz
kafka_path: /opt/kafka/{{ kafka_version }}

kafka_user: kafka
kafka_group: kafka
kafka_data: /var/lib/kafka
...
