---
- name: Get elasticsearch health for {{ item.user }}
  ansible.builtin.uri:
    url: '{{ elasticsearch_url }}/_cluster/health'
    user: '{{ item.user }}'
    password: '{{ item.password }}'
    force_basic_auth: true
    ca_path: '{{ elasticsearch_cert.ca_path }}'
    status_code: [200, 401]
  register: _elasticsearch_health

- name: Update user password for {{ item.user }}
  # noqa: risky-shell-pipe
  ansible.builtin.shell: >-
    yes {{ item.password | ansible.builtin.quote }}
    |
    /usr/share/elasticsearch/bin/elasticsearch-reset-password
    --batch
    --interactive
    --silent
    --username {{ item.user }}
  changed_when: true
  when: _elasticsearch_health.status == 401
...
